<div id="js-user-follow-<%= @user.id %>">
  <% if current_user.following?(@user) %>
    <%= render 'users/follows/unfollow', locals: {user: @user} %>
  <% else %>
    <%= render 'users/follows/follow', locals: {user: @user} %>
  <% end %>
</div>